<h1>Tasks:</h1>

<ul>
    <% @tasks.each do |task| %>
      <li>
        <input type="checkbox">
        <label><%= link_to task.title, task_page_path(task.id)%></label>


      </li>
    <% end %>
</ul>






<p><a href="/tasks">Add a New Task </a></p>
